<%
const {
  components = [],
  css = [],
  header = '',
  mjs = [],
  nav = true,
  title = 'Replace Me'
} = config
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Reference tool for Star Wars: Legion">
    <meta name="theme-color" content="#b32e29">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> :: Star Wars: Legion Reference</title>
    <link href="/manifest.json" rel="manifest">
    <link href="/css/global.css" rel="stylesheet">
    <!-- Apple stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Star Wars: Legion Reference">
    <link rel="apple-touch-icon" href="/images/icon-192.png">
    <!-- End Apple stuff -->
    <% css.forEach(c => { %>
      <link href="<%= c %>.css" rel="stylesheet">
    <% }) %>
    <% components.forEach(c => { %>
      <script src="/components/<%= c %>/<%= c %>.mjs" type="module"></script>
    <% }) %>
    <% mjs.forEach(m => { %>
      <script src="<%= m %>.mjs" type="module"></script>
    <% }) %>
  </head>

  <body>
    <noscript>This application requires JavaScript to be enabled!</noscript>
